@font-face {
    font-family: 'RR';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'RB';
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'RBlack';
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: 'RT';
    src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'RBB';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RBR';
    src: url(../fonts/Roboto-Regular.ttf);
}







